.git
.github
.cursor
.vscode
.idea
docker-compose.yaml
docker-compose.yml
Dockerfile
*.md
*.log
.DS_Store
node_modules
**/node_modules
**/dist
native/build
native/exported_symbols.txt
native/tests
native/tools
web/dist
web/public/asym_view_*
docs
scripts
.savegame
.default.cfg
**/src/test
**/*.test.ts
**/*.test.mjs
